.departments-container {
    padding: 20px;
    margin-left: 20%;
  }
  
  .department-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .department-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .department-card:hover {
    transform: translateY(-5px);
    background-color: cadetblue;
  }
  